@model shoppingcartwebsite.ViewModels.PayViewModel

@{
    Layout = "_Layout";
}

<style>
    .container4 {
        margin-bottom: 100px;
        position: absolute;
        top: 400px;
        left: 50%;
       
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .section{
        height: 100hv;
    }
</style>


<script src="/js/mask.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const cvc = document.getElementById('CVC');
        const card_number = document.getElementById('card_number');
        const maskCvc = {
            mask: '000'
        }
        const maskCardNumber = {
            mask: '0000-0000-0000-0000'
        }
        IMask(cvc, maskCvc);
        IMask(card_number, maskCardNumber);
    })
</script>

<div class="section">
<div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <h2 class="personal-data__data-title" style="margin: 20px">Enter card details</h2>
            </div>

            <form asp-action="CreateOrder" asp-controller="Order" asp-antiforgery="true">
                <div class="card-body">
                    <!-- Card Number -->
                    <input id="card_number" asp-for="CardNumber" class="form-control mr-sm-2 mb-3" type="text" placeholder="0000 0000 0000 0000">

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="month" class="form-label">Month</label>
                            <select class="form-select" id="month" aria-label="Month">
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="june">June</option>
                                <option value="july">July</option>
                                <option value="august">August</option>
                                <option value="september">September</option>
                                <option value="october">October</option>
                                <option value="november">November</option>
                                <option value="december">December</option>
                            </select>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="year" class="form-label">Year</label>
                            <select class="form-select" id="year" aria-label="Year">
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                            </select>
                        </div>
                    </div>

                    <input id="CVC" asp-for="CVC" max="3" class="form-control mr-sm-2 mb-3" type="password" placeholder="CVV">

                    <button class="btn btn-primary w-100" type="submit">
                        Pay
                    </button>
                </div>
            </form>
        </div>

</div>
</div>
